[Desktop Entry]
Name=Amazon Music
GenericName=Music Player
Comment=Google Chrome Amazon Music wrapper
Exec=amusic.py
Icon=amusic
Terminal=false
Type=Application
